body {
  background-color: #f0f7e0;
  background-color: rgba(10, 8, 8, 0.922);
  display: flex;
  font-family: Work Sans, sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.container {
  box-shadow: inset 5px 5px 15px 16px hsla(0, 0%, 100%, 0.55);
}

marquee {
  color: #5e376d;
  font-weight: 400;
  letter-spacing: 2px;
}

.track {
  background-color: hsla(0, 0%, 100%, 0.5);
  border: none;
  border-radius: 10px;
}

.track:hover {
  background-color: hsla(0, 0%, 100%, 0.2);
  cursor: pointer;
}
